<html>
<head>
  <title>Zaloguj się</title>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'login.css' %}">
</head>



<!--<form action="checkbox-form.php" method="post">-->
<!--    Do you need wheelchair access?-->
<!--    <input type="checkbox" name="formWheelchair" value="Yes" />-->
<!--    <input type="submit" name="formSubmit" value="Submit" />-->
<!--</form>-->



<div class="login">
  <form method="post" action=""> {% csrf_token %}
</form>

{% block content %}
{% for tekst in teksts %}
    {{ tekst }}
    <br>
{% endfor %}
{% endblock content %}


<form method="post" action=""> {% csrf_token %}

    <p></p>
    <label for="Badania Laboratoryjne">Wybierz badania, na które skierować pacjenta:</label>
     <p></p>
     <select name="Badania Laboratoryjne" size = 8>
       <option value="Rezonans magnetyczny głowy ">Rezonans magnetyczny głowy </option>
       <option value="Rezonans magnetyczny rdzenia kręgowego">Rezonans magnetyczny rdzenia kręgowego</option>
       <option value="Rezonans magnetyczny DWI">Rezonans magnetyczny DWI</option>
       <option value="Badanie potencjałów wywołanych">Badanie potencjałów wywołanych</option>
       <option value="Badanie płynu mózgowo-rdzeniowego">Badanie płynu mózgowo-rdzeniowego</option>
       <option value="Tomografia Komputerowa">Tomografia Komputerowa</option>
       <option value="Perfuzyjna Tomografia Komputerowa">Perfuzyjna Tomografia Komputerowa</option>
       <option value="USG tętnic szyjnych">USG tętnic szyjnych</option>
       <option value="Echokardiografia">Echokardiografia</option>
       <option value="Badania Krwi">Badania Krwi</option>
       <option value="SPECT">SPECT</option>
       <option value="fMRI">fMRI</option>
       <option value="MEG">MEG</option>
       <option value="PET">PET</option>
       <option value="EEG">EEG</option>
       <option value="Konsultacja neurologiczna">Konsultacja neurologiczna</option>-->
       <option value="Konsultacja psychologiczna">Konsultacja psychologiczna</option>
       <option value="Konsultacja psychiatryczna">Konsultacja psychiatryczna</option>
       <option value="Badania behawioralne">Badania behawioralne</option>
       <option value="Rozpoznanie schorzeń ogólnoustrojowych">Rozpoznanie schorzeń ogólnoustrojowych</option>
        <p></p>


         <p class="submit"><input type="submit" name="commit" value="Skieruj pacjenta"></p>


     </select>
 <p></p>
 </form>

<script type="text/javascript">
    function skieruj() {
    var sel = document.getElementsByName("Badania Laboratoryjne");
<!--    var option = sel.options[sel.selectedIndex];-->
<!--    //assuming that there is always a selection-->
<!--    var text = option.text;-->
<!--    var value = option.value;-->
    console.log(sel.innerText);
<!--    POST CHECKED VALUES TO THE PATIENT AND ITs VICTORY-->
    }
</script>

</html>
