<html>
<head>
  <title>Procedura medyczna</title>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'login.css' %}">
</head>

<div class="login">
  <form method="post" action=""/> {% csrf_token %}
  <!-- Lista wyboru choroby -->
    <label for="Choroba">Choroba:</label>
     <p></p>
     <select name="Choroba" id="Choroba" >
       <option value="Udar_mozgu">Udar mózgu</option>
       <option value="Padaczka">Padaczka</option>
       <option value="Choroba_Parkinsona">Choroba Parkinsona</option>
       <option value="Choroba_Alzheimera">Choroba Alzheimera</option>
       <option value="Stwardnienie_rozsiane">Stwardnienie rozsiane</option>

     </select>
</div>

  <center><p class="submit"><input type="button" id="procedura" name="procedura" value="Zaproponuj procedurę medyczną" onClick="newsite()">   </p></center>

<script type="text/javascript">
var p = "{{ pac }}";
    "{% for p in pac %}"
         console.log("{{ p.imie }} {{ p.nazwisko }}");
       var id=("{{ p.imie }}" + "-" + "{{ p.nazwisko }}");
    "{% endfor %}"
    console.log(p);

    function newsite() {
    var sel = document.getElementById("Choroba");
    var option = sel.options[sel.selectedIndex];
    //assuming that there is always a selection
    var text = option.text;
    var value = option.value;
    console.log(value);
    if (value=='Udar_mozgu') {
        console.log("udar");
        window.location.href = "http://localhost:8000/Udar_mozgu/?id="+id;
    }
    else if (value=='Padaczka') {
        window.location.href = "http://localhost:8000/Padaczka/?id="+id;
    }
    else if (value=='Choroba_Parkinsona') {
        window.location.href = "http://localhost:8000/Choroba_Parkinsona/?id="+id;
    }
    else if (value=='Choroba_Alzheimera') {
        window.location.href = "http://localhost:8000/Choroba_Alzheimera/?id="+id;
    }
    else if (value=='Stwardnienie_rozsiane') {
        console.log("udar");
        window.location.href = "http://localhost:8000/Stwardnienie_rozsiane/?id="+id;
    }
<!--    location.href = "http://localhost:8000/" + value;-->
    console.log(location.href);
    }


</script>

</html>
