<!DOCTYPE html>
<html lang="en">
<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<head>
    <meta charset="UTF-8">
    <title>Dokumenty - lekarz</title>
    {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'login.css' %}">
</head>
<body onload="searchForPatient()">
    <input type="text" id="searchForPatient" onkeyup="searchForPatient()" placeholder="Wpisz imie/nazwisko/pesel" title="Wyszukiwarka pacjentów">
    </br>
    <div id="div1"></div>
</body>
</html>
<script type="text/javascript">
function searchForPatient() {
    input = document.getElementById("searchForPatient");
    console.log("wyszukiwarka pacjenta " + input.value);
    $.ajax({
        method: 'POST',
        url: '/doctor/views.doctor',
        data: {'text': input.value,
        csrfmiddlewaretoken: '{{ csrf_token }}'},
        success: function (data) {
            $("#div1").html("");
             //this gets called when server returns an OK response
             console.log("it worked!");
             console.log(data);
             var obj = JSON.parse(data);
             var tbl=$("<table/>").attr("id","mytable");
            $("#div1").append(tbl);
            for(var i=0;i<obj.length;i++)
            {
                var href = "http://localhost:8000/patient-site/?id=" + obj[i]["fields"]["imie"] + "-" + obj[i]["fields"]["nazwisko"];
                var tr="<tr>";
                var td1="<td>"+obj[i]["fields"]["imie"]+"</td>";
                var td2="<td>"+obj[i]["fields"]["nazwisko"]+"</td>";
                var td3="<td>"+obj[i]["fields"]["adres"]+"</td>";
                var td4="<td>"+obj[i]["fields"]["pesel"]+"</td>";
                var td5="<td><a href="+href+">"+href+"</a></td></tr>";

               $("#mytable").append(tr+td1+td2+td3+td4+td5);

            }
        },
        error: function (data) {
             console.log("it didnt work");
        }
    });
}
</script>

