<!DOCTYPE html>
<html lang="en">
<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'search.css' %}">
</head>
<body>
<div>
    <center>
<h1 style="display: inline-block;">
{% for p in pac %}
    Imię i nazwisko: {{ p.imie }} {{ p.nazwisko }} </h1>
<h1>
    PESEL: {{ p.pesel }}
{% endfor %}
</h1>
    <p class="submit" style="display: inline-block;"><input type="submit" id="patient" name="addDoc" value="Dodaj dokument" onClick="addDoc()"></p></center></div>
<div class="myDiv" id="div1">
<table>
    <th>Dokumenty pacjenta</th>
        {% for b in badania_mri %}
        <tr><td>
            <a href="http://localhost:8000/data/badania_mri/{{ b }}">{{ b }}</a>
        </td></tr>
        {% endfor %}
        {% for b in badania_lab %}
        <tr><td>
            <a href="http://localhost:8000/data/badania_lab/{{ b }}">{{ b }}</a>
        </td></tr>
        {% endfor %}
        {% for b in diagnozy %}
        <tr><td>
            <a href="http://localhost:8000/data/diagnozy/{{ b }}">{{ b }}</a>
        </td></tr>
        {% endfor %}
    </tr>
</table>
</div>
</body>
</html>
<script>
    function addDoc() {
    var p = "{{ pac }}";
    "{% for p in pac %}"
         console.log("{{ p.imie }} {{ p.nazwisko }}");
       var id=("{{ p.imie }}" + "-" + "{{ p.nazwisko }}");
    "{% endfor %}"
    console.log(p);
    location.href = "http://localhost:8000/addDocument/?id=" + id;
    }
</script>