<html>
<head>
  <title>Zaloguj się</title>
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'login.css' %}">
</head>

<!-- <p></p>-->
<!--    <label for="Badania Laboratoryjne">Badania Laboratoryjne:</label>-->
<!--     <p></p>-->
<!--     <select name="Badania Laboratoryjne">-->
<!--       <option value="Rezonans magnetyczny głowy ">Rezonans magnetyczny głowy </option>-->
<!--       <option value="Rezonans magnetyczny rdzenia kręgowego">Rezonans magnetyczny rdzenia kręgowego</option>-->
<!--       <option value="Rezonans magnetyczny DWI">Rezonans magnetyczny DWI</option>-->
<!--       <option value="Badanie potencjałów wywołanych">Badanie potencjałów wywołanych</option>-->
<!--       <option value="Badanie płynu mózgowo-rdzeniowego">Badanie płynu mózgowo-rdzeniowego</option>-->
<!--       <option value="Tomografia Komputerowa">Tomografia Komputerowa</option>-->
<!--       <option value="Perfuzyjna Tomografia Komputerowa">Perfuzyjna Tomografia Komputerowa</option>-->
<!--       <option value="USG tętnic szyjnych">USG tętnic szyjnych</option>-->
<!--       <option value="Echokardiografia">Echokardiografia</option>-->
<!--       <option value="Badania Krwi">Badania Krwi</option>-->
<!--       <option value="SPECT">SPECT</option>-->
<!--       <option value="fMRI">fMRI</option>-->
<!--       <option value="MEG">MEG</option>-->
<!--       <option value="PET">PET</option>-->
<!--       <option value="EEG">EEG</option>-->
<!--     </select>-->
<!-- <p></p>-->


<div class="login">
  <form method="post" action=""> {% csrf_token %}
</form>

{% block content %}
{% for tekst in teksts %}
    {{ tekst }}
    <br>
{% endfor %}
{% endblock content %}

<script type="text/javascript">

</script>

</html>
